<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme">




        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".Trends"
            android:theme="@style/AppTheme"
            android:label="Trends and Analysis"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".DetailsActivity"/>
        <activity
            android:name=".SplashActivity"
            android:label="Voluncheer"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Navigation"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Gallery"
            android:label="@string/gallery"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>